@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcfbf9;
  color: #141414;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
